#blog .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog img {
    width: 100%;
    max-width: 300px;
}


#blog article {
    margin: 20px;
}
#blog h3, h4{
    text-align: center;
}

#bienvenidos {
    text-align: center;
    margin-top: auto;
}
